<!-- <div class="item-wrapper">
    <div class="image-container">
        <img [attr.src]="item.imgUrl" alt="" />
    </div>
    <h4>{{ item.name }}</h4>
</div> -->
<a (click)="selectItem(item)" [ngClass]="{ 'active': item.isActive }"
    class="list-group-item list-group-item-action mb-1">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.name }}</h5>
        <small>3 days ago</small>
    </div>
    <p class="mb-1">
        {{ item.title }}
    </p>
    <small>Donec id elit non mi porta.</small>
</a>