<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        Shopping Cart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input name="searchText" [(ngModel)]="filterText" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">Brands</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li *ngFor="let brand of brands" class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input [(ngModel)]="brand.checked" type="checkbox" class="custom-control-input"
                                    [attr.id]="brand.name" [attr.name]="brand.name">
                                <label class="custom-control-label" [attr.for]="brand.name">
                                    {{ brand.name }}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer pull-right d-flex">
                    <button (click)="resetFilters()" class="btn btn-info">
                        Reset
                    </button>
                    <button (click)="applyFilters()" class="btn btn-success ml-auto">Apply</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="list-group p-4">
                <app-cart-item
                    *ngFor="let item of itemList | itemFilter : appliedBrand: filterText"
                    [passingItem]="item"></app-cart-item>
            </div>
        </div>
    </div>
</div>